<a href="https://colab.research.google.com/github/saurabhkr78/PowerHouse/blob/main/pythonLearning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=5
b=6
c=7
#change seperator
print(a,b,c,sep="-")
print(a,b,c)
#power calc
a**3
#python division
d=8/7
#floor division
a//b

5-6-7
5 6 7

0.8333333333333334

In [ ]:
8/7

1.1428571428571428

In [ ]:
a=3//4
b=3.0//4
print(a)
print(b)

0
0.0

In [ ]:
a=3%2
b=3.5%2
print(a)
print(b)

1
1.5

In [ ]:
10>6>5>2>1

True

In [ ]:
not True

False

In [ ]:
3>0 and 4>0

True

In [ ]:
3>0 or 4>0

True

In [ ]:
a="sheeta" or "geeta"
b="ram"and "shyam"
print(a)
print (b)

sheeta
shyam

In [ ]:
a=3&4#binary operation
b=3|4
print(a)
print (b)

0
7

In [ ]:
#assignment
a,b,c,d=4,5,6,-1
print(a)
print (b)
print(c)
print (d)

4
5
6
-1

In [ ]:
#python already have an object of value 5 in memory so python just passes the id  to new refrence varibales so now x and y have same id(refrence address)
x=5
a=id(x)
y=5
b=id(y)
c=x is y
print(a)
print(b)
print(c)

132763043512688
132763043512688
True

In [ ]:
y="saurabh"
"sau" in y

True

In [ ]:
x=input()
print(x)
a=type(x)
c="xyz"+"abc"
print(c)
print(a)

hello
hello
xyzabc
<class 'str'>

In [ ]:
a=5+int("5")
b=bin(5)
k=type(b)
c=hex(5)
d=oct(5)

print(a)
print(b)
print(k)
print(c)
print(d)
z=ord("A")
print(z)
m=chr(65)
print(m)

10
0b101
<class 'str'>
0x5
0o5
65
A

In [ ]:
#user input
print("ENter two numbers")
a,b=int(input()),int(input())#input function returns string value so we typecasted here
c=a+b
print(c)

ENter two numbers
12
13
25

In [ ]:
a=3
b=1
if a>b:
  print(a)
else:
  print(b)

3

In [ ]:
a=3
b=0
if a<b:
  print(a)
  print(b)
print("bye")

bye

In [ ]:
#first n natural number
n=int(input())
i=1
while i<=n:
  print(i,end=' ')
  i+=1

5
1 2 3 4 5

In [ ]:
#prime no
n=int(input())
i=2
while i<=n-1:
  if n%i==0:
      print("not prime")
      break
  i+=1

else:
    print("prime")

15
not prime

In [ ]:
#for loop
str="saurabh"
for a in str: #elenents of str will go one by one in a variable
  print(a,ord(a))

s 115
a 97
u 117
r 114
a 97
b 98
h 104

In [ ]:
#range(5) by defalut =0,begend =5 and step=1
r=range(1,10,1)
for k in r:
  print(k,end=" ")

1 2 3 4 5 6 7 8 9

In [ ]:
q=range(10,3,-2)
for j in q:
  print(j,end=" ")

10 8 6 4

In [ ]:
r=range(1,10,1)
for k in r:
  print(k,k**2)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [ ]:
#list
#l1=[1,2,3,4,5,6]
#type(l1)
l2=[1,2.0,0.0,3+4j,"Saurabh",'a']
type(l2)
l3=[]
type(l3)

set

In [ ]:
l2=[1,2.0,0.0,3+4j,"Saurabh",'a']
b=type(l2)
print(b)
print(l2)
print(l2[0])
print(l2[3],l2[5])
print(l2[-2])
for x in l2:
  print(x,end=" ")
  #delete size reduced
del l2[2]
#edit element
l2[4]=70

<class 'list'>
[1, 2.0, 0.0, (3+4j), 'Saurabh', 'a']
1
(3+4j) a
Saurabh
1 2.0 0.0 (3+4j) Saurabh a

In [ ]:
l2=[1,2.0,0.0,3+4j,"Saurabh",'a']
del l2[2]
print(l2)
l2[4]="Ram"
print(l2)
l2.append("xyz")
print(l2)
l2.insert(3,"Siya")
print(l2)
l2.insert(25,"Siya")
print(l2)

[1, 2.0, (3+4j), 'Saurabh', 'a']
[1, 2.0, (3+4j), 'Saurabh', 'Ram']
[1, 2.0, (3+4j), 'Saurabh', 'Ram', 'xyz']
[1, 2.0, (3+4j), 'Siya', 'Saurabh', 'Ram', 'xyz']
[1, 2.0, (3+4j), 'Siya', 'Saurabh', 'Ram', 'xyz', 'Siya']

In [ ]:
l1=[11,2,34,4,55,6]
a=len(l1)
print(a)
b=max(l1)
print(b)
c=min(l1)
print(c)
d=sum(l1)
print(d)
sorted(l1)
l1

6
55
2
112

[11, 2, 34, 4, 55, 6]

In [ ]:
l3=list(range(4))
print(l3)
l4 =list("Saurabh")
print(l4)

[0, 1, 2, 3]
['S', 'a', 'u', 'r', 'a', 'b', 'h']

In [ ]:
l=[1,2,3]
l1=[3,2,1]
print(l1==l2)
print(l1>l)

print(l+l1)

False
True
[1, 2, 3, 3, 2, 1]

In [ ]:
l=[1,2,3]
print(l1*2)
l4=[[1,2,3],[4,5,6],[7,8,9]]
print(l4)
print(l4[0])
print(l4[1][2])

[3, 2, 1, 3, 2, 1]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
6

In [ ]:
l1=[1,2,3,4]
l1.remove(4)
print(l1)
x=l1.pop()
print(x)
l1.clear()
print(l1)
l2=[1,2,3,4]
l2.reverse()
print(l2)
i=l2.index(3)
print(i)

[1, 2, 3]
3
[]
[4, 3, 2, 1]
1

0

In [ ]:
l5=[1,2,3,4,5,6,7,8,9,9,1,2,3]
print(l5.index(1))
print(l5.count(1))
print(sorted(l5,reverse=False))
print(sorted(l5,reverse=True))

l5.sort()#make permanent changes in the list
print(l5)

0
2
[1, 1, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, 9]
[9, 9, 8, 7, 6, 5, 4, 3, 3, 2, 2, 1, 1]
[1, 1, 2, 2, 3, 3, 4, 5, 6, 7, 8, 9, 9]

In [ ]:
a=[a+1 for a in range(5)]
print(a)
b=[3+4 for a in range(5)]
print(b)
c=[a**2 for a in range(2,20,2)]
print(c,end=" ")

[1, 2, 3, 4, 5]
[7, 7, 7, 7, 7]
[4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
oddNumbers = [2 * e - 1 for e in range(1, int(input("enter a number")) + 1)]
print(oddNumbers)

enter a number10
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#string
#to check whether iterator is hashable or not
l1=[]
a=hash(l1)
print(a)
s1='saurabh'
b=hash(s1)
print(b)

-4079745124490338610

In [ ]:
#str object craetion
"""s1='Saurabh'
s2="saurabh"
s3="""Saurabh"""
s4='''Saurabh'''
s5=str()/s5=""/s5=''
s6=str(123)
s7=str(3.45) """

In [ ]:
s1=str([11,22])
print(s1)
s2='myname'
print(s2[0])
print(s2[-1])
for e in s2:
  print(e,end=" ")


print(len(s2))
print(min(s2))
print(max(s2))
print(sorted(s2))
print(s2+s2)
print(s2*3)
print(s2==s2)

[11, 22]
m
e
m y n a m e 6
a
y
['a', 'e', 'm', 'm', 'n', 'y']
mynamemyname
mynamemynamemyname
True

In [ ]:
s1="my name is saurabh"
print(type(s1))
print(s1.index('i'))
print(s1.index('name'))
print(s1.count('a'))
print(s1.count(' '))
print(s1.startswith('my'))
print(s1.endswith('h'))
print(s1.isdigit())
print(s1.islower())
print(s1.isupper())
print(s1.replace('m','M'))
print(s1.replace('a','A',s1.count('a')))
a,b=10,20
s3="Sum of {} and {} is {}"
print(s3.format(a,b,a+b))
s3="Sum of {2} and {1} is {0}"
print(s3.format(a,b,a+b))
s1.split(' ')
s5=input("Enter number seperated by comma")
print(s5)
print(s5.split(','))

<class 'str'>
8
3
3
3
True
True
False
True
False
My naMe is saurabh
my nAme is sAurAbh
Sum of 10 and 20 is 30
Sum of 30 and 20 is 10
Enter number seperated by comma10,20,30
10,20,30
['10', '20', '30']

In [ ]:
#split
l2=[int(x)for x in input("Enter Number Seperated by Comma").split(',')]
print(l2)

Enter Number Seperated by Comma44,55,66,77
[44, 55, 66, 77]

In [ ]:
#join
s1='i am from bihar and i am proud of that'
l1=s1.split(' ')

'#'.join(l1)

'i#am#from#bihar#and#i#am#proud#of#that'

In [ ]:
#slicing
#strobj=[beg:end:step]
s2='ABCDEFG'
print(s2[0:5:1])
print(s2[0:10:1])
print(s2[5:1:-1])
print(s2[:0:-1])
print(s2[1::1])
print(s2[6::-1])#reverse
print(s2[::])

ABCDE
ABCDEFG
FEDC
GFEDCB
BCDEFG
GFEDCBA
ABCDEFG

In [ ]:
' '.join(input("Enter A string").split(' ')[::-1])

Enter A stringwho are you

'you are who'

In [ ]:
#tuple
t=(10,20,'ram')
print(t)
print(type(t))
t1=(10)
print(type(t1))
t2=(10,)
print(type(t2))
t3=10,20,30
print(type(t3))
t4=10,20,30,
print(type(t4))
print(t4[0])

(10, 20, 'ram')
<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
10

In [ ]:
r=range(10,20,1)
print(r[0])
print(r[-1])

10
19

In [ ]:
t1=(10,20,5,15)
i=0
while i<len(t1):
  print(t1[i],end=" ")
  i+=1
  print('\n')
for a in t1:
  print(a,end=" ")

  "max,len,min,sum,sorted"
  "t1+t2"
  "t1*3"

10

20

5

15

10 20 5 15

In [ ]:

  t1=(10,20)
  t2=(10,33,55)
  print(t1>t2)
  print(t2>t1)

  t3=(11,20,30,55)
  t4=(10,20,30,56)
  print(t3>t4)
  print(t3==t4)
  print(t4.index(30))
  print(t4.count(30))
  t3[1:3:]

False
True
True
False
2
1

(20, 30)

In [ ]:
t1=tuple([int(e) for e in input().split(' ')])

1 2 3

In [ ]:
t1=tuple()
print(t1)
t2=tuple([1,2,3])
print(t2)
t3=tuple(range(5))
print(t3)

()
(1, 2, 3)
(0, 1, 2, 3, 4)

In [ ]:
#set-mutable,not sequence,no duplicacy,no slicing
s1={1,5,8}
print(type(s1))
print(s1)
s2={10,2,3,4,4,2,7}
print(s2)
s3={}
print(type(s3))
s4=set()
print(type(s4))
#s5=set(10,20,30) not allowed only one arg and it should be iterable
s5=set("myname")
print(s5)
s6=set([10,20,30,40])
print(s6)

<class 'set'>
{8, 1, 5}
{2, 3, 4, 7, 10}
<class 'dict'>
<class 'set'>
{'y', 'a', 'n', 'e', 'm'}
{40, 10, 20, 30}

In [ ]:
#remove duplicate elements from a list
l1=[20,10,50,20,30,50,20,10]
l2=list(set(l1))
print(l2)

l3=list(set([int(x) for x in input("enter num seperated by comma").split(",")]))
print(l3)

[10, 20, 50, 30]
enter num seperated by comma10,20,30
[10, 20, 30]

In [ ]:
s1=set([20,10,50,20,30,50,20,10])
print(l1)
for e in s1:
  print(e)

  #len
  #max
  #min
  #sum
  #sorted
  #s1+s2 =not possible
  #s1*s2=not possible
  #comaprison supported
  #two set objects are equal if their elements are same order doesn't matter

{10, 20, 50, 30}
10
20
50
30

In [ ]:
s1={10,20,30}
s1.add(60)
print(s1)
s1.add((11,22,33))#iterable and non iterable object
print(s1)
s1.update([44])#only iterable object

{10, 20, 30, 60}
{10, (11, 22, 33), 20, 60, 30}

In [ ]:
s1={10,20,30}
s1.update((11,22,33))#iterable elements becomes set elements
print(s1)

{33, 10, 11, 20, 22, 30}

In [ ]:
s=input("enter a string")

s1={ e for e in s if e in "aeiou"}
print(s1)
"""for e in s:
  if e in "aeiou":
    s1.add(e)"""

enter a stringsaurabh
{'a', 'u'}

In [ ]:
s1={10,20,30}
s1.remove(10)#throws error if element is not presnt
print(s1)
print(s1.discard(30))#doesn't throws error if element is not presnt
print(s1)

{20, 30}
None
{20}

In [ ]:
s9={1,2,3,4,55,6,7}
s9.pop()# it returns the pop out element
s9.clear()#make it empty set
print(s9)

set()

In [ ]:
s9={1,2,3,4,55,6,7}
s10={1,2,8,99,66,56}
print(s9.intersection(s10))
print(s9.union(s10))
print(s9.issubset(s10))
print(s9.issuperset(s10))

{1, 2}
{1, 2, 3, 4, 99, 6, 7, 66, 8, 55, 56}
False
False

In [ ]:
#dict-mutable,not in sequence,indexing is valid,no duplicate key but data can be,pair of key-value and data type,slicing in not applicable,no iterable can be passed
d1={1:"saurabh",2:"shweta",3:"Sapna",4:"isha"}
print(d1)
print(type(d1))
d2={}#empty dict
print(type(d2))
d3=dict()#empty dict
print(d3)
#here var(r,c) becomes key by considering name as string.when we craete any dict using dict() this is the limitation
d4=dict(r="raja",c="chutiya")
print(d4)

{1: 'saurabh', 2: 'shweta', 3: 'Sapna', 4: 'isha'}
<class 'dict'>
<class 'dict'>
{}
{'r': 'raja', 'c': 'chutiya'}

In [ ]:
d1={1:"saurabh",2:"shweta",3:"Sapna",4:"isha"}
print(d1)
print(d1[1],d1[2],d1[3])
for k in d1:
  print(k)#to print keys
for k in d1:
  print(k,d1[k])#to print keys and data value together

{1: 'saurabh', 2: 'shweta', 3: 'Sapna', 4: 'isha'}
saurabh shweta Sapna
1
2
3
4
1 saurabh
2 shweta
3 Sapna
4 isha

In [ ]:
d1={1:"saurabh",2:"shweta",3:"Sapna",4:"isha"}
d1[1]='Ram'
#if wanna change data value with key value
print(d1)
d1[5]="Arya"
#if key value is not present in dict then it will assign a new key as well as new data value
print(d1)

{1: 'Ram', 2: 'shweta', 3: 'Sapna', 4: 'isha'}
{1: 'Ram', 2: 'shweta', 3: 'Sapna', 4: 'isha', 5: 'Arya'}

In [ ]:
#dict methods
d1={1:"saurabh",2:"shweta",3:"Sapna",4:"isha"}
print(d1.keys())
print(d1.items())#gives tuple

#method1:
for t in d1.items():#t gonna accept tuple
  k=t[0]#t[0]->index
  d=t[1]#t[1]->data
  print(k,d)
#method 2(packing and unpacking)
for t in d1.items():
  k,d=t
  print(k,d)
# method 3
for t in d1.items():
  print(t[0],t[1])
#method 4(unpacking)
for k,d in d1.items():
  print(k,d)

dict_keys([1, 2, 3, 4])
dict_items([(1, 'saurabh'), (2, 'shweta'), (3, 'Sapna'), (4, 'isha')])
1 saurabh
2 shweta
3 Sapna
4 isha
1 saurabh
2 shweta
3 Sapna
4 isha
1 saurabh
2 shweta
3 Sapna
4 isha
1 saurabh
2 shweta
3 Sapna
4 isha

In [ ]:
#these fxns works only on keys
d1={1:"saurabh",2:"shweta",3:"Sapna",4:"isha"}
print(len(d1))
print(min(d1))
print(max(d1))
print(sum(d1))
print(sorted(d1))#returns keys

4
1
4
10
[1, 2, 3, 4]

In [ ]:
#d1+!d2(not supported)
#d1!*d2(not supported)
#d1 compare! d2 (not supported)
# d1==d2(supported) values should be equal order doesn't matter
#d1!=d2(supported)
d1={1:"saurabh",2:"shweta",3:"Sapna",4:"isha"}
print(d1.pop(1))
print(d1)
d1.popitem()#returns last item as a tuple
print(d1)

saurabh
{2: 'shweta', 3: 'Sapna', 4: 'isha'}
{2: 'shweta', 3: 'Sapna'}

In [ ]:
d3={a:a**2 for a in range(1,8,1)}
print(d3)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [ ]:
#function
def abc():
  print("Enter a number")
  n=int(input())
  for e in range(1,n+1):
    print(e**2,end=" ")
  print()
abc()
abc()

Enter a number
123
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500 2601 2704 2809 2916 3025 3136 3249 3364 3481 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761 4900 5041 5184 5329 5476 5625 5776 5929 6084 6241 6400 6561 6724 6889 7056 7225 7396 7569 7744 7921 8100 8281 8464 8649 8836 9025 9216 9409 9604 9801 10000 10201 10404 10609 10816 11025 11236 11449 11664 11881 12100 12321 12544 12769 12996 13225 13456 13689 13924 14161 14400 14641 14884 15129
Enter a number
12
1 4 9 16 25 36 49 64 81 100 121 144

In [ ]:
#take nothing return nothing
def f1():
  a=int(input("enter a num"))
  b=a**2
  print("Square of",a,"is",b)
f1()

enter a num23
Square of 23 is 529

In [ ]:
#takes something return nothing fxn
def add(a,b):
  c=a+b
  print("sum:",c)
add(2,10)

sum: 12

In [ ]:
#take nothing return something
def add():
 print("Enter Two Numbers:")
 a=int(input())
 b=int(input())
 c=a+b
 return c

 s=add()
 print("sum:",s)

In [ ]:
#take something return something
def add(a,b):
  c=a+b
  return c
x=add(10,20)
print(x)

30

In [ ]:
#keyword args(imp example)
#non-default arg cannot come after default arg you have to make them default
def f1(a,b,c=50):
  d=a+b+c
  print("sum:",d)

f1(1,2,3)
f1(10,20)

sum: 6
sum: 80

In [ ]:
#non-default arg cannot come after default arg you have to make them default
#def f1(a,b=0,c):
#  d=a+b+c
#  print("sum:",d)
def f1(a,b=0,c=0):
    d=a+b+c
    print("sum:",d)

In [ ]:
#positional vs keyword arg
def f1(a,b):
  print("a=",a,"b=",b)

f1(2,3)#this is positional arg
f1(b=2,a=3)#this is keyword arg

a= 2 b= 3
a= 3 b= 2

In [ ]:
def f1(a,b):
  print("a=",a,"b=",b)

#f1(2,a=3)#runtime error passing two values to a
f1(2,b=3)#(pos,key)
#f1(a=2,3)#synactical error pos arg follows keyword arg

a= 2 b= 3

In [ ]:
def add(a,b):
  return a+b
s=add(3,2)
print(s)

x=add
print(id(add))
print(id(x))

5
139378612525744
139378612525744

In [ ]:
#lamda fxn-sytacticalley resrtricted to a single line expresiion
#used where we work in single line
#no need of def and return keyword
#fxn without name
#used when it is no longer be used further
k=(lambda a,b:a+b)(2,3)
print(k)

add=(lambda c,d:c+d)
print(add(10,20))

5
30

In [ ]:
#recursion using lambda
f1=lambda n:1 if n==0 or n==1  else n*f1(n-1)
print(f1(5))
print(f1(100))

120
93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [ ]:
#oop(incomplete)
class test:
 x=5
 y=6
def f1():
  print("hello")
t1=test()#create an instance obj
t1.x=6
t1.y=9
print(t1.x)
print(t1.y)

6
9

In [ ]:
class Parrot:

    # class attribute
    name = ""
    age = 0

# create parrot1 object
parrot1 = Parrot()
parrot1.name = "Blu"
parrot1.age = 10

# create another object parrot2
parrot2 = Parrot()
parrot2.name = "Woo"
parrot2.age = 15

# access attributes
#Placing the letter f before the opening quotation mark of a string signals to Python that it's a formatted string literal. This enables you to embed expressions directly within the string using curly braces {}
print(f"{parrot1.name} is {parrot1.age} years old")
print(f"{parrot2.name} is {parrot2.age} years old")

Blu is 10 years old
Woo is 15 years old

In [ ]:
# Initialize the cart and guest list
cart = []
guest_list = ["John", "Mary", "Bob"]

# Add items to the cart
cart.append("Apple")
cart.append("Banana")
cart.insert(0, "Orange")

# Remove items from the cart
cart.remove("Banana")
del cart[0]
cart.pop()

# Define the prices of items
prices = {1.25:"Apple",0.75: "Banana" , 0.99:"Orange" }

# Calculate the total cost of items
total_cost = 0
for item in cart:
    total_cost += prices[item]

# Print the total cost and the updated cart
print(f"Total cost: ${total_cost:.2f}")#formattting
print(f"Cart: {cart}")

# Check if a specific guest is on the list
if "Alice" in guest_list:
    print("Alice is on the guest list.")
else:
    print("Alice is not on the guest list.")

# Find the index of a specific guest
index = guest_list.index("Bob")
print(f"Bob is at index {index}.")

Total cost: $0.00
Cart: []
Alice is not on the guest list.
Bob is at index 2.